.sidebar__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.sidebar__text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.sidebar__text_i {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.hottest-circles__description {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #9ca3af;
}

.homepage__container {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  width: 100% !important;
  max-width: 100% !important;
}

.trending-movies-section {
  width: 90% !important;
}
